{% extends 'base.html.twig' %}

{% block title %}University index{% endblock %}

{% block body %}
    <h1>Список университетов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for university in universities %}
            <tr>
                <td>{{ university.id }}</td>
                <td>{{ university.name }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_university_show', {'id': university.id}) }}">Перейти</a>
                    <a  class="btn btn-primary" href="{{ path('app_university_edit', {'id': university.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_university_new') }}">Добавить</a>
{% endblock %}
