{% extends 'base.html.twig' %}

{% block title %}StudentResult{% endblock %}

{% block body %}
    <h1>StudentResult</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_result.id }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ student_result.result }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_result_index') }}">back to list</a>

    <a href="{{ path('app_student_result_edit', {'id': student_result.id}) }}">edit</a>

    {{ include('student_result/_delete_form.html.twig') }}
{% endblock %}
